$color1: #0CE888;
$color2: #E82C02;
$color3: #FF4626;
$color4: #009C58;
$color5: #9C1A04;

@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/bootstrap-sass/lib/theme";

@import "blokkfont";
@import "../src/ui/header";
@import "../src/ui/subheader";
@import "../src/ui/column";
@import "../src/ui/drawer";
