$color1: #0CE888;
$color2: #E82C02;
$color3: #FF4626;
$color4: #009C58;
$color5: #9C1A04;

body {
  -ms-touch-action: pan-y !important; /* disable double-tap-zoom */
}

@import "../../bower_components/bootstrap-sass/lib/bootstrap";
@import "../../bower_components/bootstrap-sass/lib/theme";

@import "blokkfont";
@import "../src/ui/leftdrawer";
@import "../src/ui/rightdrawer";
@import "../src/ui/header";
@import "../src/ui/subheader";
@import "../src/ui/column";
