.column-container {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.column-container > .column {
  display: table-cell;

  & > .column-inner {
    margin: 5px;
    padding: 10px;
    background-color: #eee;
    color: #999;
    border: 1px solid $color3;
  }
}

.ui.headroom--not-top > .column-container > .column.pinned {
  position: fixed;
  top: 40px;
  bottom: 0;
  overflow-y: scroll;
}

