@mixin drawer($width, $topOffset: 0, $contentOffset: 50px) {
  & > .drawer-content {
    display: none;
    width: $width;

    .scrollable {
      position: absolute;
      left: 5px;
      right: 5px;
      top: $contentOffset + 5;
      bottom: 5px;
      overflow-y: scroll;
    }
  }

  &.shrink-left > .drawer-content,
  &.shunt-left > .drawer-content,
  &.float-left > .drawer-content {
    display: block;
    position: fixed;
    left: 0;
    top: $topOffset;
    bottom: 0;
  }

  &.shrink-left > .drawer-body {
    margin-left: $width;
  }

  &.shunt-left {
    overflow: hidden;
    & > .drawer-body {
      -webkit-transform: translate3d($width, 0, 0);
              transform: translate3d($width, 0, 0);
    }
  }

  &.float-left > .drawer-content {
    z-index: 1000;
  }

  &.shrink-right > .drawer-content,
  &.shunt-right > .drawer-content,
  &.float-right > .drawer-content {
    display: block;
    position: fixed;
    right: 0;
    top: $topOffset;
    bottom: 0;
  }

  &.shrink-right > .drawer-body {
    margin-right: $width;
  }

  &.shunt-right {
    overflow: hidden;
    & > .drawer-body {
      -webkit-transform: translate3d(-1 * $width, 0, 0);
              transform: translate3d(-1 * $width, 0, 0);
    }
  }

  &.float-right > .drawer-content {
    z-index: 1000;
  }

}

