.sub-header {
  background-color: $color2;
  height: 40px;
  padding: 10px;

  & > .top-menu {
    margin-top: -10px;
    margin-left: -50px;
    margin-bottom: -10px;
    margin-right: 10px;
    padding: 10px;
    width: 35px;
    height: 40px;
    float: left;
    background-color: $color1;

    -webkit-transition: margin-left 0.3s ease, -webkit-transform 0.3s ease;
            transition: margin-left 0.3s ease, transform 0.3s ease;

    & a {
      color: $color5
    }
  }
}
.ui.headroom--not-top > .sub-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  & > .top-menu {
    margin-left: -10px;
  }
}
